__pycache__/
**/__pycache__/
*.pyc

models/*
results/*
data/raw/*
data/processed/*

!models/.gitkeep
!results/.gitkeep
!data/README.md
!data/raw/.gitkeep
!data/processed/.gitkeep

.venv/
venv/
.env
.ipynb_checkpoints/
