__pycache__/
**/__pycache__/
**pycache**/
*.pyc
*.pkl
*.joblib

models/*
results/*
data/raw/*
data/processed/*

!models/.gitkeep
!models/README.md
!results/.gitkeep
!results/README.md
!data/README.md
!data/raw/.gitkeep
!data/processed/.gitkeep

.venv/
venv/
.env
.ipynb_checkpoints/
